/* refered w3.css  */

h1 {
  text-align: center;
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.01em 16px;
}

.container:after, .container:before {
  content: "";
  display: table;
  clear: both;
}

.content-top {
  max-width: 980px;
  margin: auto;
}

.text-content {
  margin: 5px 10px;
  padding: 10px 20px;
}

.quiz-button {
  margin: 15px;
  border: none;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none!important;
  color: #000000;
  background-color: #f1f1f1;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 8px!important;
  border: 1px solid #cccccc;
}

.quiz-button:hover {
  color: #000000;
  background-color: #aef6ff;
}

.quiz-button:active {
  padding-top: 6px;
  padding-bottom: 4px;
  border: 1px solid #334c66;
  background-color: #69c;
  color: #e0ebf5;
  -webkit-box-shadow: inset 0px 0px 8px #334c66;
  -moz-box-shadow: inset 0px 0px 2px #3a6da0;
  box-shadow: inset 0px 0px 2px #3a6da0;
}

.radio-inline__input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.radio-inline__label {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 18px;
  border-radius: 3px;
  transition: all .2s;
  outline-color: #000000;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.radio-inline__input:checked+.radio-inline__label {
  background: #B54A4A;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, .7);
}

.radio-inline__input:focus+.radio-inline__label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.chat {
  max-width: 500px;
  margin: auto;
}

.chat ul {
  list-style: none;
}